/** Common Css*/
.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Login Page Css*/
.account-pages {
    min-height: 100vh;
}

/** Carousel Css*/
#carouselExampleCaption {
    position: relative;
}

#carouselExampleCaption .carousel-item {
    padding-top: 30%;
}

#carouselExampleCaption button[type="button"] {
    right: 24px;
    top: 24px;
    z-index: 1;
}

/** Table Css*/
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
}

/** DatePicker*/
.flatpickr-calendar {
    background-color: white;
}

/** Pointer */
.cursor-pointer {
    cursor: pointer;
}

.empty-label {
    height: 16px;
}

/**Readonly*/
input[readonly].readonly {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

textarea[readonly].readonly {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.logo-text {
    color: white;
    font-size: 2rem;
    margin-left: 8px;
}

.dashboard-table-cards {
    height: 365px;
    max-height: 365px;
    overflow: auto;
}

.exhibition-detail #exhibition-detail-header {
    margin-bottom: 2rem;
}

.exhibition-detail #exhibition-detail-header .header-title {
    font-size: 1.5rem;
}

.product-detail #product-detail-header {
    margin-bottom: 2rem;
}

.product-detail #product-detail-header .header-title {
    font-size: 1.5rem;
}

.top-right-button:not(.last) {
    margin-left: 10px;
}

.smart-editor-content-div {
    border: 1px solid #BDBDBD;
    padding: 0.5rem;
}

.selectable-tr {
    cursor: pointer;
}

.selectable-tr:hover {
    background-color: #e9e9e9;
}

.selectable-tr.tr-clicked {
    background-color: #e9e9e9;
}

.no-item-text {
    margin-top: 16px;
    text-align: center;
    width: 400%;
    color: #4F4F4F;
}